extend ../base

block body
	//- index slideshow
	.jumbotron 
		each item in config.index.jumbotron
			.image(style="background-image: url(#{item.image});")
				.content
					h1 !{item.heading}

					.description 
						span !{item.content}
						if item.more
							a.more(href="#{item.more}") || 
								span.spaced Mehr erfahren

		a.hidden.left
			img(src="assets/images/icons/jumbotron-left.png")
		a.hidden.right
			img(src="assets/images/icons/jumbotron-right.png")

		.hidden.progress
			.bar

	.grey.background
		.landing.container
			.dark.blue.background
				h2.accent !{config.index.dark.heading}

				.double.row
					.column !{config.index.dark.left}
					.column !{config.index.dark.right}

			.dark.grey.background
				h1 !{config.index.grey.heading}

				span !{config.index.grey.content}

			.white.background.video
				iframe(src=config.index.video frameborder="0", allowfullscreen)

		.container
			a.uppercase.fluid.accent.button(href="#{config.url.register}") Jetzt anmelden!

	.white.background
		.container
			h1.uppercase Partner
		
		//- partner slideshow
		.partner.container
			.slideshow
				each page in config.partners
					.image(class="of-size-#{page.length}")
						each partner, i in page
							if i == 0 || partner.align == "left"
								a.align-left(target="_blank", href="#{partner.url}")
									img(src="#{partner.image}")
							else if i == page.length - 1 || partner.align == "right"
								a.align-right(target="_blank", href="#{partner.url}")
									img(src="#{partner.image}")
							else
								a(target="_blank", href="#{partner.url}")
									img(src="#{partner.image}")

				a.hidden.left
					img(src="assets/images/icons/partners-left.png")
				a.hidden.right
					img(src="assets/images/icons/partners-right.png")

	.grey.background.footer
		.container
			a.fluid.inverted.uppercase.upper.button(target="_blank", href="#{config.url.facebook}") Mehr erfahren &amp; Partner werden!

	script(type="text/javascript", src="https://code.jquery.com/jquery-2.2.3.min.js", integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=", crossorigin="anonymous")
	script(type="text/javascript", src="assets/js/scfn.min.js")
	script(type="text/javascript").
		$(function () {
			//- $(".jumbotron").slideshow({
			//- 	duration: 15
			//- });

			//- $(".partner.container .slideshow").slideshow();
			
			$(".image .content").addClass("active");
		});