doctype html
html(lang="de")
	head
		meta(property="og:type", content="website")
		meta(property="og:image", content="http://scfn-regensburg.de/assets/images/scfn-og-image.jpg")
		meta(property="og:image:type", content="image/jpeg")
		meta(property="og:image:width", content="600" )
		meta(property="og:image:height", content="315")

		meta(name="robots", content="index, follow")

		title Students Charity Fight Night

		meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no")
		meta(charset="utf-8")
		meta(name="theme-color", content="#222222")

		link(rel="stylesheet", href="assets/css/style.min.css")
		link(rel="shortcut icon", href="assets/images/favicon.ico")
		link(href="https://fonts.googleapis.com/css?family=Montserrat", rel="stylesheet", type="text/css")

		block head

	body
		.navbar
			input(type="checkbox", id="navbar-checkbox")

			nav.uppercase.menu
				label.spaced(for="navbar-checkbox") &times; Menü schliessen

				ul
					each item, i in config.navbar
						li(class=item.template === file ? "active" : "")
							a(href="#{item.url}")= item.name

			label.spaced.uppercase.navbar-toggle(for="navbar-checkbox", class=file === "index.jade" ? "white" : "") Menü
			img(src="assets/images/scfn.png")

		block body

		.grey.background.footer
		.dark.blue.background.container
			.images
				a(target="_blank", href="#{config.url.facebook}")
					img(src="assets/images/icons/facebook.png")
				a(target="_blank", href="#{config.url.youtube}")
					img(src="assets/images/icons/youtube.png")
				a(target="_blank", href="#{config.url.crowdfunding}")
					img(src="assets/images/icons/crowdfunding.png")
				a(href="faq.html")
					img(src="assets/images/icons/faqs.png")

			.uppercase
				span SCFN - Student Charity Fight Night || 
				
				each item, i in config.navbar
					if i > 7
						a(href="#{item.url}") #{item.name}

						if i < 10
							span  | 
